body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    min-height: 90vh;
    border: 30px solid white;
}

.navBar {
    border-bottom: 2px solid cyan;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: #3f393a;
    color: white;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    padding: 15px;
    white-space: nowrap;
}

.navBar * {
    display: inline;
}

.user {
    padding-left: 20px;
}

h1 {
    color: white;
    margin: auto;
    width: 80%;
    padding-bottom: 50px;
}

ul li{
    display: inline;
    font-family: 'Nunito', monospace;
    padding-right: 20px;
}

.listOfTags {
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    color: white;
    display: flex;
    list-style: none;
    justify-content: center;
}

a:link, a:visited {
    text-decoration: none;
    color: green;
    font-weight: bold;

    font-size: large;
}

a:hover {
    color: orange;
}

.author {
    font-weight: bold;
    font-size: large;
}

.timePosted {
    font-weight: lighter;
    color: gray;
}

.container {
    margin: auto;
    width: 50vw;
    padding: 20px;
}

.postPreview {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
}

.postInfo {
}

.liking {
    float: right;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px;
}

.likes {
    color: green;
}

.dislikes {
    color: red;
}

.commentInfo {
    border-left: 2px solid lightblue;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 50vw;
}

.reply {
    margin: auto;
    width: 50%;
    padding: 50px;
}

.createPost {
    margin: auto;
}

#title {
    width: 100%;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
}

button {
    margin: 20px;
}

.register, .login {
    margin: 15px;
    width: 100%;
}

.register input, .login input {
    width: 100%;
    padding: 5px;
}

.backButton {
    font-size: small !important;
}

.createPost {
    float: right;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

#error {
    width: 100vw;
    text-align: center;
}
#errorInfo {
    margin: auto;
}
#errorNumber {
    font-size: 30em;
    margin: auto;
}
#errorText1 {
    font-size: 3em;
}
#errorText2 {
    font-size: 2em;
}
#errorText2 {
    font-size: 1em;
}

.postImage {
    max-height: 200px;
}

#registerByEmail, #loginByUsername, #loading {
    display: none;
}

#registerOptions li a {
    border: 1px solid gray;
    padding: 15px;
    margin: 5px;
}
