{{ define "content" }}
<div class="container">
  <div class="register">
    <h2>User Registration</h2>
    {{ if .Error.Error }}
    <p class="errorMessage">{{ .Error.Message }}</p>
    {{ end }}
    <h3>Choose your register method:</h3>
    <ul id="registerOptions">
      <li>
        {{ if eq .OAuth.GoogleID "" }}
        Google
        {{ else }}
        <a href="https://accounts.google.com/o/oauth2/auth?client_id={{ .OAuth.GoogleID }}&redirect_uri=http://localhost:8080/oauth/google&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email" onclick="toggleVisibility('loading')">Google</a>
        {{ end }}
      </li>
      <li>
        {{ if eq .OAuth.GoogleID "" }}
        GitHub
        {{ else }}
        <a href="https://github.com/login/oauth/authorize?client_id={{ .OAuth.GitHubID }}&redirect_uri=http://localhost:8080/oauth/github&scope=user:email" onclick="toggleVisibility('loading')">GitHub</a>
        {{ end }}
      </li>
      <li><a href="#" onclick="toggleVisibility('registerByEmail')">Email</a></li>
    </ul>
    <h3 id="loading">OAuth loading...</h3>
    <form id="registerByEmail" action="/register" method="POST">
      <label for="email">E-mail:</label>
      <br>
      <input type="email" id="email" name="email" placeholder="Email" autocomplete="email"{{ if .Error.Error }} value="{{ .Error.Field1 }}"{{ end }} required>
      <br>
      <label for="username">Username:</label>
      <br>
      <input type="text" id="username" name="username" placeholder="Username" autocomplete="username"{{ if .Error.Error }} value="{{ .Error.Field2 }}"{{ end }} required>
      <br>
      <label for="password">Password:</label>
      <br>
      <input type="password" id="password" name="password" placeholder="Password" required>
      <br>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
{{ end }}